
body {
  background-color: #f8f9fa;
  padding-top: 60px;
  min-height: 100vh; /* Make sure the body takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.jumbotron {
  background-color: #007bff;
  color: #ffffff;
  padding: 100px 20px;
  text-align: center;
}

.card {
  margin: 20px;
}


.card img {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-top: 15px;
}

.container {
  margin-top: 50px;
}
.ls-d{
  margin-top: 5px;
}

.btn-margin {
  margin-right: 10px;
}
/* MOdal */

.modal-confirm {
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: #ee3535;
}

/* Profil etudiant */
.profile-card {
  border: none;
}

.profile-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-content {
  padding: 20px;
}

.profile-content h5 {
  color: #007bff;
}

.user-info-card {
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user-info-card .list-group-item {
  background-color: #f8f9fa;
}

.custom-margin-right{
  margin-right: 20px;
}

.file-info-card{
  width: 100%;
}